body {
    background-color: #e1deff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    ul {
        li {
            display: inline-block;
            padding: 0 30px;

            a {
                font-weight: 600;
                letter-spacing: 0;
                font-size: 1em;
                color: #08549d;
                text-transform: uppercase;
            }

            form {
                button {
                    font-weight: 600;
                    letter-spacing: 0;
                    font-size: 1em;
                    color: #08549d;
                    text-transform: uppercase;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

main {
    padding: 50px 0;
}

footer {
    background-color: #08549d;
    padding: 10px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-weight: 500;
            letter-spacing: 0;
            font-size: 0.8em;
        }
    }
}
